#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app .upload-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  height: fit-content;
  width: fit-content;
}
